<nav class="navbar navbar-expand-lg">
  <button id="btnMainNav" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  {{ content }}
    {% set menu = drupal_menu('header-visitors') %}
    <div class="block-menu menu--header-visitors responsive">
      <div class="side-menu-responsive">
        {{ menu }}
      </div>
    </div>
  </div>
</nav>
