:root {
  --main-font: 'Roboto' !important;
  --heading-font: 'Open Sans' !important;
  --c1-025: #ECF2FC;
  --c1-050: #BACEF5;
  --c1-100: #82A0E6;
  --c1-200: #5472C9;
  --c1-300: #374FA8;
  --c1-400: #2D3E8A;
  --c1-500: #24346C;
  --c1-600: #20305C;
  --c1-700: #20305C;
  --c1-800: #1A2847;
  --c1-900: #17253D;
  --c2-050: #DFF2C8;
  --c2-100: #D4EEB6;
  --c2-200: #C6E99D;
  --c2-300: #B2E17D;
  --c2-400: #99D752;
  --c2-500: #76B82A;
  --c2-600: #649C24;
  --c2-700: #55851E;
  --c2-800: #48711A;
  --c2-900: #3D6016;
  --n-000: transparent;
  --n-00: #FFFFFF;
  --n-025:#F0EFEF;
  --n-050:#D9D8D7;
  --n-100:#C6C6C5;
  --n-200: #B7B7B5;
  --n-300: #A8A8A6;
  --n-400: #90908D;
  --n-500: #777772;
  --n-600: #686864;
  --n-700: #595955;
  --n-800: #4A4A47;
  --n-900: #383835;
  --n-950: #252523;
  --n-975: #131312;
  --n-1000: #000000;
  --success: #008040;
  --success-dark: #016931;
  --danger: #EE060B;
  --danger-dark: #C11417;
  --warning: #FF8000;
  --warning-dark: #E87400;
  --turquoize: #4CAFE4;
  --box-shadow02: 0 2px 4px 0 rgba(0,0,0,0.20);
  --box-shadow04: 0 2px 4px 0 rgba(0,0,0,0.20), 0 4px 8px 0 rgba(0,0,0,0.20);
  --box-shadow08:0 4px 8px 0 rgba(0,0,0,0.10), 0 8px 16px 0 rgba(0,0,0,0.20);
  --box-shadow16: 0 8px 16px 0 rgba(0,0,0,0.10), 0 16px 32px 0 rgba(0,0,0,0.20);
  --box-shadow-card-list: 0 8px 10px 1px rgba(35,44,119,0.14), 0 3px 14px 2px rgba(0,0,0,0.07), 0 5px 5px -3px rgba(0,0,0,0.14);
  --text-shadow: 0px 2px 4px #00000066;
  --transition02: .25s;
  --c1-200-08: rgba(84, 114, 201, 0.08);
  --c1-200-04: rgba(84, 114, 201, 0.04);
  --c1-500-16: rgba(36, 52, 108, 0.16);
  --c1-500-32: rgba(36, 52, 108, 0.32);
  --c1-500-80: rgba(36, 52, 108, 0.8);
  --c2-200-08: rgba(198, 233, 157, 0.08);
  --c2-500-64: rgba(118, 184, 42, 0.64);
  --n-00-80: rgba(255, 255, 255, 0.8);
  --tile: url('/themes/custom/powersmith/assets/images/line.svg');
  --gradient-menu: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(183, 183, 181, 1) 100%);
  --gradient-base: linear-gradient(180deg, rgba(183, 183, 181, 0.00) 0%, rgba(183, 183, 181, 0.40) 100%); }
