.path-news,
.path-events {
  background-color: $light-grayish-blue;
}
.view-news,
.view-events {
  &.view-display-id-page_1 {
    .view-content{
      &.row{
        margin-right: -30px;
        margin-left: -30px;
        .views-row{
          padding-top: 15px;
          padding-bottom: 15px;
          > div {
            background-color: $white;
            max-width: 270px;
            margin:0 auto;
            transition: $transition02;
            position: relative;
            height: 425px;
            @include media-breakpoint-down(sm) {
              height: auto;
              padding-bottom: 1rem;
            }
            &.bg-blue-1{
              background-color: $blue;
            }
            &.bg-blue-2{
              background-color: $blue_light;
            }
            &.bg-blue-3{
              background-color: $turquoize;
            }
            &.bg-blue-1,
            &.bg-blue-2,
            &.bg-blue-3 {
              .add-to-cart {
                &:hover {
                  &:before {
                    background: url("../images/picto/ui/bookmark-star-white.svg") no-repeat center center;
                  }
                }
              }
            }
            .field--name-field-media-image {
              img {
                transition: $transition02;
              }
            }
            &:hover{
              box-shadow: $box-shadow-card-list;
              transition: $transition02;
              .field--name-field-media-image {
                img {
                  transform: scale(1.1);
                  transition: $transition02;
                }
              }
            }
            .field--type-entity-reference{
              margin:0;
              position: relative;
              .field__item{
                position: relative;
                overflow: hidden;
                img{
                  margin:0;
                }
                &:after{
                  content: '';
                  background: radial-gradient(circle, rgba(207,218,238,0.9) 0%, rgba(207,218,238,0) 60%);
                  position: absolute;
                  width: 300px;
                  height: 300px;
                  top:-150px;
                  left:-150px;
                }
              }
              &.field--name-field-event-picture {
                .field__item {
                  &:after {
                    display: none;
                  }
                }
              }
            }
            .field--name-field-news-type{
              position: absolute;
              top: 1em;
              left: 1em;
              right: 1em;
              height: 20px;
              color: $blue;
              font-family: $font-poppins;
              font-size: 12px;
              font-weight: 600;
              letter-spacing: 1px;
              line-height: 20px;
              text-transform: uppercase;
            }
            .field--name-node-post-date{
              padding:40px 20px 0 20px;
              color: $blue;
              font-family: $font-poppins;
              font-size: 12px;
              font-weight: 600;
              letter-spacing: 0.5px;
              line-height: 20px;
            }
            .field--name-node-title{
              padding:20px 20px 0 20px;
              color: $blue;
              font-family: $font-roboto;
              font-size: 20px;
              font-weight: 300;
              line-height: 30px;
              height: 147px;
              overflow: hidden;
            }
            .field--name-node-link{
              a{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                text-indent: -99999px;
              }
            }
            .teaser-links{
              margin:0 10px;
            }
            &.no-img{
              .field--name-field-news-type,
              .field--name-node-post-date,
              .field--name-node-title{
                color: $white;
              }
              .field--name-node-post-date{
                padding:130px 20px 0 20px;
              }
              .field--name-node-title{
                margin-bottom: 90px;
              }
            }
            // MOBILE DISPLAY
            &.socomec-wrapper-news-card-listing,
            &.socomec-wrapper-events-card-listing{
              max-width: none;
              img {
                width: 100%;
              }
            }
            // EVENTS CARD ONLY
            &.socomec-wrapper-events-card-listing {
              &:before {
                content: '';
                display: block;
                width: 3.75rem;
                height: 0.125rem;
                background: $yellow;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
              }
              .field--name-field-event-type {
                font-family: $font-poppins;
                font-weight: 500;
                color: $blue;
                font-size: $font-size-xs;
                letter-spacing: 1px;
                text-align: center;
                padding: 0.5rem 1rem;
              }
              .field--name-node-title {
                text-align: center;
                height: 6.25rem;
              }
              .field--name-field-event-place {
                font-family: $font-poppins;
                font-weight: 500;
                color: $blue;
                font-size: $font-size-xs;
                letter-spacing: 1px;
                text-align: center;
                padding: 0.5rem 1rem;
                text-transform: uppercase;
              }
              &.no-img {
                .field--name-field-event-place,
                .field--name-field-event-type,
                .event-date-wrapper {
                  color: $white;
                }
                .field--name-field-event-place {
                  color: $yellow;
                }
                .field--name-node-title{
                  margin-bottom: 0;
                }
                .field--name-extra-field-event-type-icon-file {
                  text-align: center;
                  img {
                    opacity: 0.5;
                    max-height: 8.25rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // RENDERING DATE EVENTS
  .event-date-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $blue;
    margin-top: 0.25rem;
    .line-date {
      display: flex;
      font-size: $font-size-lg;
      text-transform: uppercase;
      font-weight: 700;
      height: 1.6rem;
      line-height: 1;
      margin-top: 1rem;
    }
    .line-years {
      display: flex;
      font-size: $font-size-lg;
      text-transform: uppercase;
      font-weight: 300;
      line-height: 1;
      height: 2.5rem;
    }
    .line-hours {
      display: flex;
      font-size: $font-size-h4;
      text-transform: uppercase;
      font-weight: 300;
    }
    .event-start {
      text-align: right;
    }
    .event-end {
      text-align: left;
    }
    .separator {
      font-size: $font-size-base;
      font-weight: 600;
      line-height: 1.5;
      width: 1rem;
      text-align: center;
    }
  }
}
