.path-search{
  h1.title-socomec-wave-below{
    text-transform: initial;
  }
  #search-page-header{
    background-color: $white;
    .container{
      padding-right:0px;
      padding-left:0px;
    }
  }
  .view-global-search{
    margin:40px 0 80px 0;
    .view-content{
      &.row{
        .views-row{
          width: 100%;
          > div {
            width: 100%;
            height: 160px;
            background-color: $white;
            box-shadow: 0 0 1px 0 rgba(35,44,119,0.33);
            overflow:hidden;
            margin-bottom:10px;
            position: relative;
            &.taxonomy-term--type-family,
            &.node--type-product,
            &.node--type-product-reference{
              height: 140px;
              @include media-breakpoint-down(lg) {
                height: auto;
              }
            }
            @include media-breakpoint-down(lg) {
              height: auto;
            }
            &:hover{
              box-shadow: $box-shadow-card-list;
              transition: $transition02;
            }
            &.ds-2col {
              display: flex;
              p{
                padding:0px;
                margin:0px;
              }

              > .group-full {
                padding: 10px;
              }

              > .group-left{
                padding: 10px;
                width: 80%;
                float: none;
                @include media-breakpoint-down(md) {
                  width: 70%;
                }
              }

              > .group-right{
                float: right;
                width: 20%;
                float: none;
                @include media-breakpoint-down(md) {
                  width: 30%;
                }
                 > div {
                   height: 100%;
                   div {
                     height: 100%;
                   }
                 }
                .field--type-image,
                .field--type-entity-reference{
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  margin: 0px;
                  > div {
                    border-left: 1px #F0F3F9 solid;
                    img {
                      margin: 0px;
                    }
                  }
                }
              }
              .field--name-bundle-fieldtaxonomy-term,
              .field--name-bundle-fieldnode,
              .field--name-field-event-type,
              .field--name-field-product-status,
              .field--name-field-news-theme,
              .field--name-field-news-theme .field__label,
              .field--name-field-news-theme .field__items,
              .field--name-field-reference-ref{
                color: $dark-grey;
                font-family: $font-poppins;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.5px;
                line-height: 20px;
                border-radius: 2px;
                background-color: $light-grayish-red;
                display: inline-block;
                padding: 0px 5px;
                margin:0px;
              }
              .field--name-field-product-status{
                color: $white;
                background-color: $turquoize;
                text-transform: uppercase;
              }
              .field--name-field-news-theme,
              .field--name-field-news-theme .field__label,
              .field--name-field-news-theme .field__items,
              .field--name-field-news-theme .field__items .field__item,
              .field--name-field-reference-ref{
                background-color: $white;
                color: $dark-grey;
              }
              .field--name-field-news-theme .field__label,
              .field--name-bundle-fieldtaxonomy-term,
              .field--name-bundle-fieldnode{
                text-transform: uppercase;
              }

              .field--name-field-event-type{
                background-color: $white;
              }

              .field--name-taxonomy-term-title,
              .field--name-extra-field-resource-title,
              .field--name-node-title{
                color: $blue;
                font-family: $font-roboto;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
                margin-top:10px;
              }

              .field--name-field-event-date{
                margin-left: -10px;
                border-left: 2px $yellow solid;
                padding-left: 10px;
                color: $blue;
                font-family: $font-roboto;
                font-size: 18px;
                font-weight: 600;
                line-height: 45px;
              }
              .field--name-node-post-date{
                color: $blue;
                font-family: $font-poppins;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.5px;
                line-height: 20px;
                margin-top:10px;
              }
              .field--name-extra-field-resource-description,
              .field--name-field-event-teaser,
              .field--name-field-event-teaser p{
                margin:0px;
                padding: 0px;
                color: $dark-grey;
                font-family: $font-roboto;
                font-size: 16px;
                line-height: 25px;
              }

              .field--name-taxonomy-term-link,
              .field--name-node-link{
                a {
                  position: absolute;
                  top: 0px;
                  right: 0px;
                  bottom: 0px;
                  left: 0px;
                  text-indent: -9999px;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}
