.block-system-breadcrumb-block {
  position: relative;
  z-index: 1;
  @include media-breakpoint-down(sm) {
    visibility: hidden;
    height: 1.625rem;
  }
  .content {
    @include make-container-max-widths();
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
  }
  ol {
    background: none;
    li,
    a {
      color: $darker-grey;
    }
  }
}

#header {
  .block-system-breadcrumb-block {
    ol {
      li,
      a {
        color: $white;
      }
    }
  }
}
