.block-filter-by {
  display: flex;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
  }
  .filter-by{
    color: $dark-grey;
    font-family: $font-roboto;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 30px;
    padding-right: 25px;
    @include media-breakpoint-down(sm) {
      padding-right: 0;
    }
  }
}

.store-locator-wrapper {
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
  .block-filter-by {
    flex-direction: column;
    .block-facets-ajax {
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    #block-duplicateofsubareaofsales {
      margin: 0;
      .facet-title{
        padding: 10px 12px;
        margin-top: 0;
      }

      .bootstrap-select {
        width: 100%;
      }
    }
  }
}
