ol {
  &.breadcrumb {
    padding-left: 0;
    .breadcrumb-item {
      a {
        color: $darker-grey;
        font-family: $font-roboto;
        font-size: 12px;
        line-height: 20px;
      }
      + .breadcrumb-item {
        &:before {
          content: '\B7';
          color: $darker-grey;
        }
      }
    }
  }
}

#header {
  ol {
    &.breadcrumb {
      padding-left: 0;
      .breadcrumb-item {
        a {
          color: $white;
        }
        + .breadcrumb-item {
          &:before {
            content: '\B7';
            color: $white;
          }
        }
      }
    }
  }
}

