/* ------------------ Header MOBILE ------------------ */
// Position header with hero region.
@include media-breakpoint-down(md) {
  .nav-wrapper {
    background: rgba(0, 79, 159, 0.1);
    width: 100%;
    position: fixed;
    z-index: 1022;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 99999;
    @include transition-socomec;
    &.scrolled,
    &.open-menu {
      background: rgba(8,71,150, 1);
      @include transition-socomec;
    }
    .container-nav {
      @include right-overflow();
      height: 60px;
    }
    .block-we-megamenu-blockheader {
      // TOGGLER BTN
      .navbar-toggler {
        z-index: 999;
        &[aria-expanded='true'] {
          span {
            background: url("../images/picto/ui/close-white.svg") no-repeat center center;
            background-size: contain;
            height:30px;
            width: 28px;
          }
        }

        &[aria-expanded='false'] {
          span {
            background: url("../images/picto/ui/menu-burger.svg") no-repeat center center;
            background-size: contain;
            height:30px;
            width: 28px;
          }
        }

      }
      .navbar {
        padding: 0;
        margin: 0;
        position: initial;
        align-items: flex-end;
        justify-content: flex-end;
        ul {
          border: none;
          &.we-mega-menu-ul {
            border: none;
            height: auto;
            li {
              background: none;
              border: none;
              width: 100%;
              position: relative;
              &.col-6 {
                flex: initial;
                max-width: initial;
              }
              a,
              span:not(.mobile-dropdown-trigger) {
                display: block;
                background: none;
                color: $white;
                font-family: $font-poppins;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 20px;
                padding: 0.5rem 0;
                position: initial;
                border: 0;
                text-transform: uppercase;
                &:before,
                &:after {
                  display: none;
                }
                &:hover,
                &:focus {
                  cursor: pointer;
                  background: none;
                  color: $white;
                  font-family: $font-poppins;
                }
              }
              &.dropdown-menu {
                min-width: auto;
                transition: 0.3s;
              }
              &.level-0 {
                & > .mobile-dropdown-trigger {
                  display: none;
                }
                // PRODUCT MENU
                &.product {
                  .menu-title-wrapper {
                    display: block;
                    width: 80%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    margin-top: 0;
                    padding: 0;
                  }
                  .menu-icon-wrapper {
                    display: none;
                    svg {
                      width: 15px;
                    }
                  }
                }
                & > a,
                span:not(.mobile-dropdown-trigger) {
                  margin-top: 1.5rem;
                  margin-bottom: 1rem;
                  padding: 0 16px;
                  transition: 0.2s;
                  &[aria-expanded='true'] {
                    padding-left: 1.5rem;
                    transition: 0.2s;
                  }
                }
                >.we-mega-menu-submenu {
                  >.submenu-bg {
                    >.container {
                      >.close-menu {
                        display: none;
                      }
                    }
                    >.we-mega-menu-submenu-inner {

                    }
                  }
                }
                &.show {
                  border-bottom: 1px solid $yellow;
                  height: auto;
                  background:  linear-gradient(180deg, #084796 0%, #232C77 100%);
                }
                & >.we-mega-menu-submenu {
                  width: 100%!important;
                  //background: linear-gradient(180deg, rgba(0,79,159,0) 0%, #045aaa 100%);

                  >.submenu-bg {

                    >.we-mega-menu-submenu-inner {
                      >.we-mega-menu-row {
                        >.we-mega-menu-col {
                          &.span12:not(.full-width) {

                            .level-1 {
                              //impair
                              &:nth-child(odd) {

                              }
                              //pair
                              &:nth-child(even) {

                              }

                              &:hover {

                              }
                            }
                          }
                          + .we-mega-menu-col {
                            &.span12:not(.full-width) {
                              .level-1 {
                                //impair
                                &:nth-child(odd) {

                                }
                                //pair
                                &:nth-child(even) {

                                }
                                &:hover {

                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
                .level-1 {
                  .mobile-dropdown-trigger {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    background: red;
                    background: url("../images/picto/ui/chevron-right-circle-white-yellow.svg") no-repeat center center;
                    height:20px;
                    width: 20px;
                    transform: rotate(90deg);
                  }

                  > span,
                  > a {
                    font-size: 12px;
                    margin-top: 0;
                    padding: 1rem;
                  }

                  > .dropdown-menu {
                    width: 100%!important;
                    position: initial;
                    background: linear-gradient(180deg, rgba(0,79,159,0) 0%, #045aaa 100%);
                    border: none;
                    box-shadow: none;
                    padding: 0;
                  }
                  &:after {

                  }
                  .subul {

                  }
                }
                .level-2 {
                  a,
                  span:not(.mobile-dropdown-trigger) {
                    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
                    position: relative;
                    font-family: $font-poppins;
                    color: rgba(206,217,233,1);
                    font-size: 12px;
                    font-weight: 600;
                    text-align: left;
                    height: auto;
                    white-space: initial;
                    display: flex;
                    align-items: center;
                    text-transform: none;
                    padding: 1rem 2rem;
                  }
                  &:hover {
                    > a {

                    }
                  }
                  .tool-promotion {
                    display: none;
                  }
                  .we-mega-menu-submenu {
                    background: $blue;
                  }
                }

                .we-mega-menu-col {

                  &.full-width {


                    .level-1 {

                      &:hover {

                      }

                      .we-mega-menu-submenu-inner {


                        .we-mega-menu-row {

                        }
                      }
                    }
                  }
                }
              }
            }
            // More global style
            &.level-1 {

              &.col-6 {

              }
              > a {

                .menu-title-wrapper {

                }
                .menu-icon-wrapper {

                  svg {

                  }
                }
              }
              > .dropdown-menu {
                position: initial;
              }
            }
            &.level-2 {

              > a {

              }

              > .dropdown-menu {
                position: initial;
                &:before {

                }
                &:after {

                }
                > .submenu-bg {
                  background: rgba(0, 79, 159, 0.1);
                }
                .we-mega-menu-row {

                  .we-mega-menu-col {

                  }
                }
              }
              .subul {

              }
            }

            &.level-3 {

              > a {

              }
            }
          }
        }
      }

      .we-mega-menu-row {
        .span3{

        }
      }

      .navbar-collapse {
        position: fixed;
        z-index: 99;
        top: 0;
        right: -320px;
        width: 85%;
        height: 100vh;
        padding-top: 3.25rem;
        padding-left: 0;
        padding-right: 0;
        background: $blue;
        //background: rgba(8,71,150, 1);
        transition: $transition02;
        overflow-y: scroll;
        &.show {
          right: 0!important;
          transition: $transition02;
        }
        > ul {
          > li {
            > .we-mega-menu-submenu {
              position: initial;
              background: rgba(0, 79, 159, 0.1);
              box-shadow: none;
              border: none;
              padding: 0;
              > .submenu-bg {

              }
              > .we-mega-menu-submenu-inner {
                > .we-mega-menu-row {
                  > .we-mega-menu-col {

                  }
                }
              }
              .we-mega-menu-submenu-inner {

              }
            }
          }
        }
      }
    }
  }
}
// END OF MEDIAQUERIES MOBILE

#toolbar-administration {
  position: relative;
  z-index: 99999;
}
