<<<<<<< HEAD
ul.pagination {
  align-items: center;
  .previous,
  .next{
    position: relative;
    a {
      visibility: hidden;
      padding: 0;
    }
    &:after {
      visibility: visible;
      content: '';
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      right: 0;
      bottom: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .previous {
    &:after {
      background-image: url("../images/picto/ui/chevron-left-circle.svg");
    }
  }
  .next{
    &:after {
      background-image: url("../images/picto/ui/chevron-right-circle.svg");
    }
  }

  .page-item {
    margin: 0 8px;
    a,
    span {
      height: 20px;
      width: 20px;
      background: none;
      color: $dark-grey;
      font-size: 12px;
      line-height: 20px;
      font-family: $font-roboto;
      border: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.active {
      a,
      span {
        background: $white;
        border: none;
        color: $blue;
      }
    }
    a,
    span {
      &:focus {
        box-shadow: none;
      }
    }
  }
  &.pagination-big {
    justify-content: center;
    .page-item {
      margin: 0 4px;
      &.previous,
      &.next {
        width: 50px;
        height: 50px;
        &:after {
          display: none;
        }
        a {
          height: 50px;
          width: 50px;
          &:after {
            visibility: visible;
            content: '';
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 50px;
            width: 50px;
            background-image: url("../images/picto/ui/Big-chevron-thin.svg");
          }
        }
      }
      &.next {
        a {
          &:after {
            transform: rotate(180deg);
          }
        }
      }

      a,
      span {
        font-family: $font-poppins;
        font-weight: 600;
        height: 40px;
        width: 40px;
      }
    }
  }
}
=======
ul.pagination {
  .previous,
  .next {
    position: relative;
    a {
      visibility: hidden;
    }
    &:after {
      visibility: visible;
      content: '';
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .previous {
    &:after {
      background: url("../images/picto/ui/chevron-left-circle.svg") no-repeat center center;
    }
  }
  .next {
    &:after {
      background: url("../images/picto/ui/chevron-right-circle.svg") no-repeat center center;
    }
  }

  .page-item {
    margin: 0 8px;
    a {
      height: 20px;
      width: 20px;
      background: none;
      color: $dark-grey;
      font-size: 12px;
      line-height: 20px;
      font-family: $font-roboto;
      border: none;
      padding: 0;
      text-align: center;
    }
    &.active {
      a {
        background: $white;
        border: none;
        color: $blue;
      }
    }
    a {
      &:focus {
        box-shadow: none;
      }
    }
  }
}
>>>>>>> bc9f6a758d03f8c4d6cab8cceaf697c85a5045d6
