
.block-menu {
  &.menu--header-visitors{
    position: absolute;
    z-index: 999;
    right: 0;
    @include media-breakpoint-down(md) {
      right: 3.75rem;
      top: 0.188rem;
    }
    h2 {
      display: none;
    }
    .nav-item{
      a{
        height: 60px;
        color:$white;
        font-family: $font-poppins;
        font-weight: 400;
        text-transform: uppercase;
        padding:20px;

        &.ico-search-white{
          background-color: transparent;
          background-image: url('../images/picto/ui/search-white.svg');
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: center;
          &:hover{
            background-color: transparent;
          }
          &.close-search{
            background-image: url('../images/picto/ui/close-circle-yellow.svg');
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: center;
            border-bottom: 2px $yellow solid;
          }
        }
        &.ico-bookmark-star-white{
          background-color: $blue_light;
          background-image: url('../images/picto/ui/bookmark-star-white.svg');
          background-size: 20px 20px;
          background-repeat: no-repeat;
          &:hover{
            background-color: $blue_light;
          }
          &.no-label{
            background-position: center;
          }
        }
        &.ico-favorite{
          background-color: $yellow;
          background-image: url('../images/picto/ui/favorite.svg');
          background-size: 20px 20px;
          background-repeat: no-repeat;
          &:hover{
            background-color: $yellow;
          }
          &.no-label{
            background-position: center;
          }
        }
        &.ico-user{
          padding:20px 50px;
          color:$blue;
          background-color: $white;
          background-image: url('../images/picto/ui/user.svg');
          background-size: 24px 24px;
          background-repeat: no-repeat;
          background-position: left 18px center;
          @include media-breakpoint-down(lg) {
            padding:20px;
            text-indent: -99999px;
            background-position: center;
            width: 60px;
          }
          &:hover{
            background-color: $white;
          }
          &.no-label{
            background-position: center;
          }
        }
        &.no-label{
          text-indent: -99999px;
          width: 60px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      ul.nav {
        li {
          display: none;
          &:first-child {
            display: block;
          }
        }
      }
    }
  }
}
.user-logged-in{
  .block-menu {
    &.menu--header-visitors {
      .nav-item{
        a[data-drupal-link-system-path="user/register"] {
          display: none;
        }
      }
    }
  }
}
.side-menu-responsive {
  @include media-breakpoint-up(md){
    display: none;
  }
}
