/* ------------------ Header ------------------ */

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

#navbar-top.navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
    margin-right: 1rem;
}

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

// Position header with hero region.
#header{
    background-color: lightgrey;
    #navbar-top{
        z-index: 1;
        height: 59px;
        padding-left: 0;
        padding-right: 0;
        &:after {
            content: "";
            height: 1px;
            opacity: 0.1;
            width: 100%;
            background-color: #FFFFFF;
            margin: 0 auto;
        }
        a{
            color: #FFFFFF;
            font-family: 'Poppins';
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 20px;
            text-align: center;
        }
    }
    #navbar-main{
        z-index: 1;
        padding: 0 1rem;
        .navbar-brand{
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }
    #navbar-top + .region-hero{
        z-index:0;
        margin-top:-59px;
        .socomec-hero-background{
            padding-top:59px;
        }
    }
    #navbar-top + #navbar-main + .region-hero{
        z-index:0;
        margin-top:-130px;
        .socomec-hero-background{
            padding-top:130px;
        }
    }
}