/* VARIABLES */

// colors UI KIT
// BRAND COLORS
$blue: #004F9F;
$blue_light: #0070C0;
$blue_lighter: #CFDAEE;
$blue_lighter_alt: #B9CBE5;
$yellow: #FC0;

//NEUTRAL COLORS
$darken-grey: #5B5B5B;
$dark-grey: #BBB4B8;
$grey: #DEDDDE;
$light-grey: #F5F5F5;
$lighten-grey: #FBFBFB;

// CUSTOM COLORS
$light-purple: #C3BFEB;
$light-blue: #8ED1F5;

// FONTS-FAMILY.
$font-roboto: 'Roboto', Arial, Verdana, sans-serif;
$font-poppins: 'Poppins', Arial, Verdana, sans-serif;

// SHADOW
$shadow: 0 5px 15px 0 rgba(50,51,94,0.15);
$shadow-block: 0 20px 30px 0 rgba(50,51,94,0.1);
$shadow-formule: 0 35px 40px 0 rgba(50,51,94,0.18);

// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

// colors
$primary-shade: #A8CF45;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: #0079C0;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$green: #28a745;
$cyan: #17a2b8;
$gray-100: #f8f9fa !default;
$gray-800: #343a40 !default;
$theme-colors: ( primary: $accent-shade, secondary: $primary-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
$brand-primary: $accent-shade;
//$brand-success: $green;
//$brand-info: $teal;
//$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
//$body-bg: $white;
//$body-color: $gray-dark;
$inverse-bg: $primary-shade;
//$inverse-color: $gray-lighter;
// Links
//
// Style anchor elements.
$link-color: $accent-shade;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;

