{% if content.field_standard_label_tooltip.0 %}
  <div class="product-standar-label" data-toggle="tooltip" data-html="true" title="{{ content.field_standard_label_tooltip }}">
    {{ content.field_label }}
  </div>
{% else %}
  <div class="product-standar-label">
    {{ content.field_label }}
  </div>
{% endif %}
