// Import fonts
@import "utilities/variables";
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,300,500,600,700,800,900,1000");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900,1000");
p {
  color: $black;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 25px;
}
form.form {
  margin: 22px 22px 120px 22px;
  padding: 0;
  p.form-field:not(.pd-radio):not(.pd-checkbox) {
    margin: 0;
    padding: 0;
    background-color: $light-grey;
    box-shadow: inset 1px 2.5px 5px 0 rgba(0,0,0,0.1);
    border-top: 1px solid $dark-grey;
    label.field-label {
      text-align: left;
      height: 20px;
      color: $blue;
      font-family: 'Roboto';
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 20px;
      margin-left: 10px;
    }
    input.text {
      appearance: none;
      box-shadow: none !important;
      border: none;
      width: calc(100% - 15px);
      height: 30px;
      background-color: transparent !important;
      color: $blue;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 25px;
      padding-left: 10px;
      &:focus {
        outline: none;
      }
    }

    &.filled {
      border-top-color:  $blue;
      background-color: $white;
      background-image: linear-gradient(180deg, rgba(76,175,228,0.1) 0%, rgba(12,132,135,0) 100%);
      label.field-label {
        color: $dark-grey;
      }
    }
  }
  p.form-field.pd-radio {
    label.field-label {
      text-align: left;
      height: 20px;
      color: $blue;
      font-family: 'Roboto';
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 20px;
    }
    span.value {
      display: block;
      margin-left: 0;
      clear: both;
      span {
        display: inline-block;

        input {
          position: relative;
          top: -2px;
        }

        label.inline{
          color: $darker-grey;
          font-family: 'Roboto';
          font-size: 16px;
          margin-left: 9px;
        }
      }
    }
  }

  p.form-field.pd-select {
    position: relative;
    select {
      padding-left: 10px;
      width: calc(100% - 15px);
      height: 30px;
      display: block;
      color: $blue;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 25px;
      max-width: 100%;
      box-sizing: border-box;
      margin: 0;
      border: none;
      box-shadow: none;
      appearance: none;
      background-image: none;
      background-color: transparent;
    }
    select::-ms-expand {
      display: none;
    }
    select:hover {
      border-color: #888;
    }
    select:focus {
      border: none;
      outline: none;
    }
    select option {
      font-weight:normal;
    }
    &:after {
      content: '';
      display: block;
      background-image: url('../images/picto/form/select.svg');
      height: 10px;
      width: 10px;
      position: absolute;
      right: 10px;
      bottom: 12px;
      background-position: bottom;
    }
  }
  p.form-field.pd-checkbox {
    display: flex;
    min-height: 60px;
    align-items: center;

    label.field-label {
      order: 2;
      color: #4A4A47;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 25px;
      width: auto;
      font-weight: normal;
      margin-left: 9px;
    }
    span.value {
      order: 1;
      margin-left: 0;
      width: auto;
    }
  }

  p.submit {
    padding: 0;
    display: flex;
    margin: 60px -30px 0 -30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    input {
      background-color: #0070C0;
      height: 60px;
      width: 100%;
      font-family: 'Poppins';
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 20px;
      color: $white;
      appearance: none;
      border: none;
      cursor: pointer;
    }
    &:before {
      content: '';
      background-image: url('../images/picto/ui/send-white.svg');
      height: 20px;
      display: block;
      width: 20px;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 70px;
    }
    &~ p {
      display: none;
    }
  }

  p.errors {
    background-color: $red;
    color: $white;
  }

  p.error {
    color: $red;
    label.field-label {
      color: $red !important;
    }
  }
  p.error.form-field:not(.pd-radio):not(.pd-checkbox) {
    border-bottom: 1px solid $red;
  }
  p.error.no-label {
    margin-left: 0;
  }
}


// Custom form
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  background-image: url('../images/picto/form/Radio-empty.svg');
  position: absolute;
  left: -25px;
  top: 0;
  width: 18px;
  height: 18px;
  background-size: cover;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #4CAFE4;
  position: absolute;
  top: 4px;
  left: -21px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
