<div class="hero-block">
  <div class="container">
    <div class="row">
      <div class="select-country" style="width:100%; height: 80px; background:grey; margin-bottom:30px;">

      </div>
    </div>
  </div>
</div>
