// GLOBAL STYLING FOR MULTILIGNE CONTENT
$global-offseting: 3rem;

.field--name-field-body, // NEWS NODE
.field--name-field-product-multiline, //PRODUCT NODE
.field--name-field-event-content { //EVENT NODE
  > .field__item {
    margin-bottom: $global-offseting;
    &:first-child {
      margin-top: 2rem;
    }
    .paragraph {
      h2 {
        margin-top: 0;
      }
    }
    .paragraph--type--model-testimony {
      .col-sm-12 {
        float: none;
      }
      .infodescription {
        margin-bottom: $global-offseting;
      }
    }
  }
}
