/* ------------------ Eu cookie compliance ------------------ */

#sliding-popup {
    left:0px;
    right: 0px;
    display: flex;
    display: -webkit-flex;
    .eu-cookie-compliance-banner {
        padding: 0;
        box-sizing: content-box;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        margin: auto;
        position: relative;
        width: 100%;
        will-change: visibility,opacity;
        &.categorie-open{
            top:0px;
            bottom: 0px;
        }
        .eu-cookie-compliance-content {
            max-width: 100%;
            #custum-popup-header{
                background: $blue_light;
                .eu-cookie-compliance-message {
                    float: none;
                    margin:0 auto;
                }
            }
            #eu-cookie-compliance-categories{
                background: $white-grey;
                border-top:solid 1px $blue_lighter;
                .eu-cookie-compliance-category-list{
                    max-height: 45vh;
                    overflow: auto;
                    margin-bottom: 1em;
                    > div{
                        max-width: 90%;
                        margin:0 auto;
                        > .eu-cookie-compliance-category-selector{
                            border-bottom: 2px solid $blue_lighter;
                        }
                        label{
                            padding-left: 0px;
                            .toggle-activated{
                                &.disabled{
                                    opacity: 0.4;
                                }
                            }
                        }
                        input[type="checkbox"],
                        input[type="checkbox"] + label:after{
                            display:none;
                        }
                    }
                    .eu-cookie-compliance-category-description{
                        margin-bottom: 1em;
                    }
                }
                .eu-cookie-compliance-categories-buttons{
                    float: none;
                    text-align: right;
                    max-width: 90%;
                    margin:0 auto;
                    .eu-cookie-compliance-save-preferences-button{
                        color: $blue;
                        background-color: $white;
                        border:solid 1px $blue_lighter;
                        font-family: $font-poppins;
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        line-height: 20px;
                        padding: 1em;
                    }
                }
            }

            .eu-cookie-compliance-buttons{
                max-width: 90%;
                margin:0 auto;
                float: none;
                text-align: right;
                .eu-cookie-compliance-default-button {
                    color: $blue;
                    font-family: $font-poppins;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    line-height: 20px;
                    padding: 1em;
                    &.customize-button{
                        background-color: $white;
                        border:solid 1px $blue_lighter;
                    }
                    &.agree-button,
                    &.decline-button{
                        color: $white;
                        background-color: $transparent;
                        border:solid 1px $blue_lighter;
                    }
                }
            }
        }
    }
}
