/* ------------------ Eu cookie compliance ------------------ */

#sliding-popup {
  left:0px;
  right: 0px;
  display: flex;
  display: -webkit-flex;
  background: $light-grayish-red;
  @include media-breakpoint-up(sm) {
    transition: 500ms;
    max-height: 720px;
    overflow-y: hidden;
  }
  .eu-cookie-compliance-banner {
    padding: 0;
    box-sizing: content-box;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin: auto;
    position: relative;
    width: 100%;
    will-change: visibility,opacity;
    @include media-breakpoint-up(sm) {
      overflow-y: hidden !important;
    }
    &.categorie-open {
      height: 100vh;
      top:0;
      bottom: 0;
      transition: 0.2s;
      overflow-y: auto;
      .eu-cookie-compliance-content {
        height: 100vh;
        transition: 0.5s;
        .eu-cookie-compliance-categories {
          height: 100vh;
          transition: 0.5s;
        }
      }
    }
    .eu-cookie-compliance-content {
      background: $dark-blue;
      max-width: 100%;
      #custum-popup-header {
        display: flex;
        color: $white;
        padding: 2rem 0;
        @include make-container();
        @include make-container-max-widths();
        justify-content: space-between;
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          padding: 1rem 0;
        }
        .eu-cookie-compliance-message {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include media-breakpoint-down(sm) {
            padding: 0 0.5rem;
            margin-bottom: 0.5rem;
          }
          p {
            margin-bottom: 0;
            font-family: $font-roboto;
            font-size: $font-size-lg;
            font-weight: 300;
            a {
              color: $white;
              text-decoration: underline;
            }
          }
        }
      }
      #eu-cookie-compliance-categories {
        background: $light-grayish-red;
        border-top:solid 1px $blue_lighter;
        .eu-cookie-compliance-category-list {
          @include make-container();
          @include make-container-max-widths();
          background: $light-grayish-red;
          overflow: auto;
          padding-bottom: 2em;
          margin-top: 4rem;
          > div {
            font-family: $font-roboto;
            max-width: 90%;
            margin:0 auto;
            padding: 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            label {
              font-weight: 400;
              padding-left: 0px;
              .toggle-activated {
                &.disabled {
                  opacity: 0.4;
                }
              }
              .category-label {
                margin-left: 24px;
              }
            }
            input[type="checkbox"],
            input[type="checkbox"] + label:after {
              display:none;
            }
          }
          .eu-cookie-compliance-category-description {
            margin-bottom: 1em;
            margin-left: 79px;
            font-size: 12px;
            margin-top: 0.5rem;
          }
        }
        .eu-cookie-compliance-categories-buttons {
          @include make-container();
          @include make-container-max-widths();
          background: $light-grayish-red;
          text-align: center;
          margin:0 auto;
          @include media-breakpoint-down(sm) {
            padding-bottom: 2em;
          }
          .eu-cookie-compliance-save-preferences-button {
            color: $blue;
            background-color: $white;
            border:solid 1px $blue_lighter;
            font-family: $font-poppins;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 20px;
            padding: 10px 30px;
            text-transform: uppercase;
          }
        }
      }

      .eu-cookie-compliance-buttons {
        display: flex;
        align-items: center;
        float: initial;
        max-width: initial;
        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }
        .eu-cookie-compliance-default-button {
          color: $blue;
          font-family: $font-poppins;
          font-size: $font-size-sm;
          font-weight: 600;
          letter-spacing: 1px;
          line-height: 20px;
          padding: 0.6rem 2rem;
          text-transform: uppercase;
          @include media-breakpoint-down(sm) {
            margin: 0.3rem 0;
            width: 96%;
          }
          @include media-breakpoint-up(sm) {
            &.agree-button {
              padding-right: 1rem;
            }
            &.decline-button {
              padding-left: 1rem;
            }
          }
          &.customize-button {
            background-color: $white;
            border:solid 1px $blue_lighter;
          }
          &.agree-button,
          &.decline-button {
            color: $white;
            background-color: $transparent;
            border: none;
            text-decoration: underline;
          }
        }
        .close-button {
          position: relative;
          width: 1rem;
          height: 1rem;
          display: block;
          background: none;
          border: none;
          &:after,
          &:before {
            position: absolute;
            top: 0;
            content: ' ';
            height: 16px;
            width: 1px;
            background-color: $white;
          }
          &:after {
            transform: rotate(-45deg);
          }
          &:before {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
.eu-cookie-compliance-buttons  {
  float: initial;
  max-width: initial;
}
.eu-cookie-compliance-message {
  float: initial;
  max-width: initial;
}
