/* ------------------ Header ------------------ */
// Position header with hero region.
#header{
  padding-top:60px;
  background: linear-gradient(324.68deg, #00519D 0%, rgba(0,81,157,0.8) 100%);
  background-size: cover;
  #navbar-top{
    z-index: 1;
    height: 59px;
    padding-left: 0;
    padding-right: 0;
    &:after {
      content: "";
      height: 1px;
      opacity: 0.1;
      width: 100%;
      background-color: $white;
      margin: 0 auto;
    }
    a{
      color: $white;
      font-family: 'Poppins';
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 20px;
      text-align: center;
    }
  }
  #navbar-main{
    z-index: 1;
    padding: 0 1rem;
    .navbar-brand{
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }
  #navbar-top + .region-hero{
    z-index:0;
    margin-top:-59px;
    .socomec-hero-background{
      padding-top:59px;
    }
  }
  #navbar-top + #navbar-main + .region-hero{
    z-index:0;
    margin-top:-130px;
    .socomec-hero-background{
      padding-top:130px;
    }
  }
}
