.paragraph--type--model-citation {
  blockquote {
    margin-left: 100px;
    cite {
      display: block;
      color: $black;
      font-style: italic;
    }

    footer {
      font-size: 0.8em;
      color: $blue;
      font-style: normal;
    }

    p {
      font-style: italic;
    }

    border-left: 2px solid $yellow;
  }
}

