.paragraph--type--model-image{
  padding-top: 2.5rem;
  padding-bottom: 3.75rem;
  img{
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none ;
  }
  figcaption, .field--name-field-legend{
    margin: 0.5rem 0;
    color: #4A4A47;
    font-family: $font-roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
  }
}
