.paragraph--type--key-figures {
  padding-top: 2.5rem;
  padding-bottom: 4.125rem;
  align-items: stretch;
  @media (min-width: 575.99px) {
    border-top: 2px solid $yellow;
    border-bottom: 2px solid $yellow;
  }
  display: flex;
  justify-content: space-around;

  .key-figure {
    padding: 0 0 10px;
    position: relative;
    text-align: center;
    @media (max-width: 575.98px) {
      &:first-child {
        border-top: 2px solid $yellow;
      }
      border-bottom: 2px solid $yellow;
    }
    .number {
      color: $blue_light;
      font-family: $font-roboto;
      font-size: 48px;
      font-weight: bolder;
    }
    .text {
      color: $blue;
      font-family: $font-poppins;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &.even-count {
    .key-figure {
      &:not(:last-child) {
        &::after {
          background-color: $blue_lighter;
          content: '';
          height: 60px;
          position: absolute;
          margin-top: -30px;
          right: 0;
          top: 50%;
          width: 1px;
        }
      }
    }
  }

  &.odd-count {
    .key-figure {
      &:not(:last-child) {
        border-bottom: 2px solid $yellow;
      }
    }
  }

}
