.paragraph--type--model-text{
  padding-top: 2.5rem;
  padding-bottom: 3.75rem;
  h2 {
    margin-top: 0;
  }
  .field--name-field-title {
    @include S1($blue);
    font-weight: 300;
    margin-bottom: 20px;
    display: inline-flex;
    position: relative;

    &:after {
      content: '';
      height: 2px;
      width: 60px;
      bottom: 0;
      right: -30px;
      background: $yellow;
      display: block;
      position: absolute;
      @include media-breakpoint-down(sm) {
        right: 0;
      }
    }
  }
}
