.paragraph--type-video-text,
.paragraph--type--video-embed {
  @include make-row();
  padding-top: 2.5rem;
  padding-bottom: 3.375rem;
  h2 {
    margin-top: 0;
    &.field--name-field-title {
      @include block-title(true);
      margin-top: 0;
    }
  }
  .group-left {
    padding-left: calc(#{$grid-gutter-width} / 2);
    padding-right: $grid-gutter-width;
    @include make-col(4);
    @include media-breakpoint-down(lg) {
      @include make-col(12);
    }
  }
  .group-right {
    padding-left: calc(#{$grid-gutter-width} / 2);
    padding-right: calc(#{$grid-gutter-width} / 2);
    @include make-col(8);
    @include media-breakpoint-down(lg) {
      @include make-col(12);
    }
  }

  .field--name-field-video-embed-video,
  .field--name-field-media-oembed-video {
    width: 100%;
  }
  .embed-responsive {
    height: auto;
    @include media-breakpoint-down(md) {
      height: auto;
    }
  }
}
.paragraph--type-video-text {
  .embed-responsive {
    @include media-breakpoint-up(lg) {
      height: auto;
    }
  }
}
.paragraph--type--video-embed {
  @include make-container();
  .field--name-field-video-embed-video {
    @include make-col(10);
    @include make-col-offset(1);
  }
  .field--name-field-title {
    @include make-col-offset(1);
  }
  .embed-responsive {
    height: 100%;
    @include media-breakpoint-up(lg) {
      height: auto;
    }
  }
}
