body.taxonomy-family {

  // Global Section style
  .section-grey-light {
    background-color: $grey-blue;
    padding: 40px 0 80px;
  }
  h2.field--name-field-title {
    @include block-title(true);
    margin-bottom: 40px;
    line-height: 3rem;
  }
  header {
    @include media-breakpoint-up(lg) {
      margin-bottom: 180px;
    }
    .hero-block {
      position: relative;
      h1 {
        margin-bottom: 40px;
        @include media-breakpoint-up(lg) {
          margin-bottom: 180px;
        }
        .family-title {
          @include S1($white);
          text-transform: uppercase;
        }

        .family-subtitle {
          color: $yellow;
          font-family: $font-poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
          text-transform: uppercase;
        }
      }

      .family-image {
        position: relative;
        img {
          @include media-breakpoint-up(lg) {
            position: absolute;

          }
          position: relative;
          transform: translateX(-50%);
          left: 50%;
          max-height: 450px;
          width: auto;
        }
      }

      .family-baseline-wrapper {
        position: relative;
        @include media-breakpoint-down(lg) {
          top: 2.5rem;
        }
        .family-baseline-inner {
          @include media-breakpoint-up(lg) {
            position: absolute;
            transform: translateY(-45%);
            padding: 40px 40px 60px 0;
          }
          background: $yellow;
          padding: 40px 40px 60px 40px;
          min-height: 300px;
          display: flex;
          align-items: center;
          @include left-overflow-color($yellow);
          .family-baseline {
            p {
              color: $darker-grey;
              font-family: $font-roboto;
              font-size: 16px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }

  #product-reference-section {
    .container {
      @include media-breakpoint-down(md) {
        padding-left: 30px;
      }
    }
    .product-div-wrapper {
      width: 100%;
    }
    .view-family-products {
      .product-wrapper {
        padding: 0;
        display: flex;
        margin-left: -15px;
        list-style: none;
        flex-wrap: wrap;
        @include media-breakpoint-down(md) {
          justify-content: center;
        }

        li:nth-child(3n+3) {
          .product-item {
            width: calc(#{calc-column-width(3, xl)} - 15px);
            max-width: calc(#{calc-column-width(3, xl)} - 15px);
            flex: 0 0 calc(#{calc-column-width(3, xl)} - 15px);
            padding-right: 0;
          }
        }
      }
    }
  }
  .family-article {
    .multiline-wrapper {
      .field--name-field-family-second-multiline,
      .field--name-field-family-first-multiline {
        width: 100%;
      }
    }
  }
}
