body {
  &.node--type-landing-page {
    .tabs {
      position: absolute;
      z-index: 2;
    }
    .group-left {
      @include media-breakpoint-down(lg) {
        order: 2;
      }
    }
    .group-right {
      @include media-breakpoint-down(lg) {
        order: 1;
      }
    }
  }
}
