body {
  &.node--type-landing-page {
    .tabs {
      position: absolute;
      z-index: 2;
      margin-top: -45px;
      background: white;
    }
    .group-left {
      @include media-breakpoint-down(md) {
        order: 2;
      }
    }
    .group-right {
      @include media-breakpoint-down(md) {
        order: 1;
      }
    }

    .field--name-field-body {
      > .field__item {
        margin-bottom: 70px;
        &:last-of-type {
          margin-bottom: 0;
        }
        .paragraph--type--video-embed {
          .field--name-field-video-embed-video {
            @include make-col(12);
            @include make-col-offset(0);
          }
        }
      }
    }
  }
}
