body.node--type-product {
  // Made edit button  sticky
  nav.tabs {
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    ul.nav.nav-tabs.primary {
      display: flex;
      flex-flow: column;
    }
  }

  header {
    height: 550px;
    display: flex;
    flex-flow: column;
    margin-bottom: 60px;
    @include media-breakpoint-down(md) {
      height: auto;
    }
  }
  .hero-block {
    z-index: 0;
    margin-top: 20px;
    flex-grow: 1;

    .container {
      height: 100%;
      position: relative;

      .row {
        height: 100%;
      }
    }

    .product-image {
      display: flex;
      @include media-breakpoint-down(md) {
        justify-content: center;
        order: 2;
      }
      @include media-breakpoint-down(xs) {
        flex-wrap: wrap;
      }
      .product-main-picture {
        order: 2;
        @include media-breakpoint-down(xs) {
          order: 1;
        }
        a {
          display: block;
          img {
            position: absolute;
            margin-top: 50px;
            @include media-breakpoint-down(md) {
              position: relative;
            }
          }
        }
      }
      .product-thumbnail-picture {
        order: 1;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        padding-top: 70px;
        margin-right: 30px;
        @include media-breakpoint-down(xs) {
          order: 2;
          flex-flow: row;
        }

        img {
          border-radius: 50%;
          background: $blue_lighter;
          @include media-breakpoint-down(xs) {
            margin: 0 5px;
          }
        }
      }
    }

    .proouct-info {
      position: relative;
      @include media-breakpoint-down(md) {
        order: 2;
        position: initial;
      }
    }

    .product-title {
      display: block;
      color: $white;
      font-family: $font-poppins;
      font-size: 72px;
      font-weight: 200;
      line-height: 90px;
    }

    .product-subtitle {
      display: block;
      color: $yellow;
      font-family: $font-poppins;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .product-baseline {
      color: $white;
      font-family: $font-roboto;
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .product-pdf {
      color: $turquoize;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 20px;
      font-family: $font-poppins;
      display: flex;
      height: 60px;
      text-transform: uppercase;

      svg {
        width: 20px;
        height: 20px;
        fill: $turquoize;
        margin-right: 10px;
      }
    }

    .product-cta-wrapper {
      display: flex;
      flex-direction: row;
      height: 60px;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      @include media-breakpoint-down(md) {
        order: 3;
        position: relative;
        height: 120px;
      }
      @include media-breakpoint-down(xs) {
        margin-top: 30px;
        flex-wrap: wrap;
      }

      img {
        margin-right: 5px;
      }

      .cta-simple {
        @include media-breakpoint-down(xs) {
          width: 50%;
        }
        a {
          height: 60px;
          padding: 0 12px;
          text-transform: uppercase;
          color: $white;
          font-family: $font-poppins;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .cta-blue {
        width: 197px;
        @include media-breakpoint-down(xs) {
          width: 50%;
        }
        a {
          padding: 0 12px;
          text-transform: uppercase;
          height: 60px;
          width: 100%;
          background: $blue_light;
          color: $white;
          font-family: $font-poppins;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .cta-yellow {
        width: 166px;
        @include media-breakpoint-down(xs) {
          width: 50%;
        }
        a {
          padding: 0 12px;
          text-transform: uppercase;
          height: 60px;
          width: 100%;
          background: $yellow;
          color: $blue;
          font-family: $font-poppins;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      //reset
      .field--type-entity-reference {
        margin: 0;
      }
    }
  }

  // Global Section style
  .section-grey-light {
    background-color: $grey-blue;
    padding: 80px 0;
    margin: 0 -15px;
  }
  // 1st SECTION
  .strong-points {
    ul {
      padding: 0;
      list-style: none;
      li {
        display: flex;
        align-items: baseline;
        margin-bottom: 10px;
        svg {
          margin-right: 5px;
          flex-basis: 16px;
          min-width: 16px;
        }
        a {
          color: $darker-grey;
          font-family: $font-roboto;
          font-size: 20px;
          font-weight: 300;
          line-height: 30px;
        }
      }
    }
  }

  .product-function,
  .product-services {
    p {
      color: $darker-grey;
      font-family: $font-roboto;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
    }
  }

  .field--name-field-standard-label {
    display: flex;
    > .field__item {
      margin-right: 30px;
    }
  }

  .vocabulary-protection-level {
    .protection-title {
      display: flex;
      align-items: center;

      .field--name-field-label-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $yellow;
        width: 70px;
        min-width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 30px;
        margin-bottom: 0;
      }

      .protection-name {
        .field--name-name {
          color: $blue;
          font-family: $font-poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
          text-transform: uppercase;
        }
        .field--name-field-protection-sub-title {
          color: $blue;
          font-family: $font-poppins;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0.5px;
          line-height: 20px;
        }
      }
    }

    .content {
      .field--name-description {
        p {
          color: $dark-grey;
          font-family: $font-roboto;
          font-size: 20px;
          font-weight: 300;
          line-height: 30px;
        }
      }
    }
  }


  // Advantage section
  .advantage-wrapper {
    .field--name-field-product-advantage-text {
      font-size: 20px;
      margin-bottom: 60px;
    }

    .advantage-element-wrapper {
      display: flex;
      flex-wrap: wrap;

      p {
        color: $darker-grey;
        font-family: $font-roboto;
        font-size: 16px;
        line-height: 25px;
        padding-right: 30px;
      }
    }
  }
  // Fresco
  .fr-window {
    background: $white;
  }
  .fr-content-background {
    background: $white;
    box-shadow: none;
  }
}
