body.node--type-product-reference {
  header#header {
    margin-bottom: 25px;
    .header-product-reference-background{
      background-color: $light-grayish-red;
      .header-product-reference{
        position: relative;
        background: $light-grayish-red;
        background: linear-gradient(to right,$light-grayish-red, $light-grayish-red 50%, rgba($light-grayish-red,1) 0%,  rgba(#dbe2ee,1) 100%);
        @include media-breakpoint-down(md) {
          background: $white;
        }
        .back-to-button {
          @include back-to-button();
          color:$blue;
          margin-bottom: $spacer;
          transition: $transition02;
          text-transform: uppercase;
          @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
          }
        }
        .block-system-breadcrumb-block {
          ol.breadcrumb {
            li.breadcrumb-item {
              color:$darker-grey;
              a {
                color:$darker-grey;
              }
              + .breadcrumb-item:before {
                color:$darker-grey;
              }
            }
          }
        }
        .product-reference-title {
          padding: 0;
          margin:0 0 10px 0;
          color: $blue;
          font-family: $font-roboto;
          font-size: 56px;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 70px;
        }
        .product-reference-ref {
          padding: 0;
          margin:0 0 10px 0;
          color: $dark_blue;
          font-family: $font-roboto;
          font-size: 24px;
          font-weight: 900;
          letter-spacing: 0;
          line-height: 30px;
        }
        .product-reference-teaser {
          padding: 0;
          margin:0 0 20px 0;
          color: $blue;
          font-family: $font-roboto;
          font-size: 20px;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 30px;
          p {
            color: $blue;
            font-family: $font-roboto;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 30px;
            &:last-child {
              padding-bottom: 0px;
            }
          }
        }
      }
    }
    .product-reference-cta-wrapper {
      display: flex;
      flex-direction: row;
      height: 60px;
      align-items: center;
      justify-content: flex-end;
      margin:0 -15px;
      @include media-breakpoint-down(md) {
        order: 3;
        position: relative;
        height: 120px;
      }
      @include media-breakpoint-down(xs) {
        margin: 30px 0px 0px 0px;
        flex-wrap: wrap;
      }
      img {
        margin-right: 5px;
      }
      .cta-simple {
        @include media-breakpoint-down(xs) {
          width: 50%;
        }
        a {
          height: 60px;
          padding: 0 20px;
          text-transform: uppercase;
          color: $blue;
          font-family: $font-poppins;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 1px;
          line-height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid transparent;
          text-decoration: none;
          &:hover{
            border: 1px solid #004F9F;
          }
        }
      }
      .cta-blue {
        @include media-breakpoint-down(xs) {
          width: 50%;
        }
        a {
          padding: 0 20px;
          text-transform: uppercase;
          height: 60px;
          width: 100%;
          background: $blue_light;
          color: $white;
          font-family: $font-poppins;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1px;
          line-height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          &:hover{
            background: lighten($blue_light,6%);
          }
          &.ajax-soc-content-list{
            //background: linear-gradient(to right, $green-added-btn 50%, $blue_light 50%);
            //background-size: 200% 100%;
            //background-position: right bottom;
            transition: all .5s ease-out;
            &:hover{
             // background: linear-gradient(to right, $green-added-btn 50%, lighten($blue_light,6%) 50%);
             // background-size: 200% 100%;
              //background-position: right bottom;
            }
            &.soc-list-is-active {
              padding: 0 20px 0 44px;
              position: relative;
              img {
                display: none;
              }
              &:before {
                position: absolute;
                content: '';
                background-image: url("../images/picto/ui/bom-blue-background-white.svg");
                background-repeat: no-repeat;
                background-size: 24px 24px;
                height: 24px;
                width: 24px;
                left:12px;
              }
            }
            &.item-added{
              padding: 0 20px 0 44px;
              position: relative;
              background: $green-added-btn;
              &:before {
                position: absolute;
                content: '';
                background-image: url("../images/picto/ui/validate-action-white.svg");
                background-repeat: no-repeat;
                background-size: 24px 24px;
                height: 24px;
                width: 24px;
                left:12px;
              }
              //background-position: left bottom;
              img {
                display: none;
              }
              .btn-value {
                white-space: nowrap;
              }
            }
          }
        }
      }

      .cta-yellow {
        @include media-breakpoint-down(xs) {
          width: 50%;
        }
        a {
          padding: 0 20px;
          text-transform: uppercase;
          height: 60px;
          width: 100%;
          background: $yellow;
          color: $blue;
          font-family: $font-poppins;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1px;
          line-height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          &:hover{
            background: lighten($yellow,6%);
          }
        }
      }
      //reset
      .field--type-entity-reference {
        margin: 0;
      }
    }
  }
}
