.node--type-news,
.node--type-event {
  #page-wrapper {
    overflow: hidden;
  }
  // FIELDS
  .field--name-field-news-type,
  .field--name-field-event-type{
    margin-bottom: 0;
    @include tag($blue, $yellow);
  }
  .field--name-field-news-theme,
  .field--name-field-event-thematic {
    display: flex;
    margin-bottom: 0;
    line-height: 0.6rem;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    @include media-breakpoint-down(md) {
      flex-direction: row;
    }
    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }

    .field__item {
      margin-right: 0.5rem;
      font-family: $font-poppins;
      text-transform: uppercase;
      color: $white;
      font-size: 0.75rem;
      text-decoration: none;
      letter-spacing: 0.5px;
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 0.5rem;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
      @include media-breakpoint-down(xs) {
        margin-bottom: 0.5rem;
        line-height: 1;
      }
    }
  }
  .news-date,
  .event-date{
    color: $turquoize;
    font-family: $font-roboto;
    padding-right: $spacer;
    @include media-breakpoint-down(md) {
      padding-right: 0;
      font-size: 0.75rem
    }
  }
  .news-teaser,
  .event-teaser{
    min-height: 13rem;
    @include media-breakpoint-down(md) {
      margin-top: 2rem;
      min-height: initial;
    }
  }
  .field--name-field-teaser,
  .field--name-field-event-teaser {
    margin-top: 30px;
    p {
      @include S2($blue);
      line-height: 40px;
      @include media-breakpoint-down(md) {
        font-size: 1rem;
        line-height: 1.6;
      }
    }
  }

  // HERO HEADER NEWS SINGLE
  .hero-block {
    .mobile-container {
      @include media-breakpoint-down(lg) {
        @include make-container;
      }
      &.without-img {
        @include media-breakpoint-up(lg) {
          @include make-container;
        }
      }
    }
    // LEFT SIDE
    .news-info,
    .event-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: -7.5px;
      @include media-breakpoint-down(lg) {
        @include make-col(12);
        margin-left: 0;
      }
      .back-to-button {
        @include back-to-button();
        margin-bottom: $spacer;
        transition: $transition02;
        @include media-breakpoint-down(md) {
          margin-bottom: 2rem;
        }
        svg {
          g {
            fill: $white;
            path {
              opacity: 1;
            }
          }
        }
      }
      h1 {
        margin-bottom: 2*$spacer;
        .news-title,
        .event-title {
          @include S1($white);
          font-weight: 300;
          @include offset-underscore;
        }
      }
      .news-sub-infos,
      .event-sub-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        .wrapper {
          display: flex;
          align-items: center;
          span {
            margin: 0 0.5rem;
          }
        }
      }
    }
    // RIGHT SIDE
    .hero-wrapper {
      display: flex;
      @include media-breakpoint-up(lg) {
        @include right-overflow;
      }
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
      .news-info,
      .event-info {
        width:33.75rem;
        max-width: 33.75rem;
        flex: 0 0 33.75rem;
        min-height: 22rem;
        @include media-breakpoint-between(md, lg) {
          width: 29.375rem;
          max-width: 29.375rem;
          flex: 0 0 29.375rem;
        }
        @include media-breakpoint-down(md) {
          @include make-col(12);
          width: 100%;
          min-height: 12rem;
        }
        &.without-img {
          @include make-col(10);
          @include make-col-offset(1);
          @include media-breakpoint-down(md) {
            @include make-col(12);
            @include make-col-offset(0);
          }
        }
      }
      .news-image {
        position: relative;
        flex: 0 0 auto;
        flex-grow: 1;
        @include media-breakpoint-down(lg) {
          @include make-col(12)
        }
        .field--name-field-media-image,
        .field--name-field-event-picture {
          width: 100%;
          height: auto;
          @include media-breakpoint-down(md) {
            margin-bottom: -2rem;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            @include media-breakpoint-down(md) {
              position: relative;
              width: 100%;
              left: initial;
              right: 0;
            }
          }
        }
      }
      .event-informations {
        position: relative;
        flex: 0 0 auto;
        flex-grow: 1;
        @include media-breakpoint-down(lg) {
          @include make-col(12)
        }
        .field--name-field-media-image,
        .field--name-field-event-picture {
          width: 100%;
          height: auto;
          margin-bottom: 0;
          @include media-breakpoint-down(md) {
            margin-bottom: -2rem;
          }
          img {
            @include media-breakpoint-down(md) {
              position: relative;
              width: 100%;
              left: initial;
              right: 0;
            }
          }
        }
        .no-img-content {
          display: flex;
          justify-content: center;
          min-width: 35.625rem;
          min-height: 18.5rem;
          background: $turquoize;
          @include media-breakpoint-down(md) {
            width: 100%;
            min-width: 100%;
          }
          img {
            opacity: 0.8;
          }
        }
        .event-squarebox {
          position: absolute;
          top: 0;
          left: 0;
          height: auto;
          @include media-breakpoint-down(md) {
            position: relative;
          }
        }
      }
      &.without-img {
        // RESETING CUSTOM CONTAINER
        width: initial;
        margin-left: initial;
      }
    }
  }
  // CONTENT PAGE
  #news-info-section {
    margin-bottom: 2*$spacer;
  }
  // EVENT DATE
  .event-top {
    background: $yellow;
    padding: 1.5rem 0;
    text-align: center;
    font-size: $font-size-h4;
    color: $blue;
    .field--name-field-event-place {
      font-weight: 300;
    }
    .event-date-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .line-date {
        display: flex;
        font-size: $font-size-h2;
        text-transform: uppercase;
        font-weight: 700;
        height: 2.2rem;
        line-height: 1;
        margin-top: 1rem;
      }
      .line-years {
        display: flex;
        font-size: $font-size-h2;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1;
        height: 2.5rem;
      }
      .line-hours {
        display: flex;
        font-size: $font-size-h4;
        text-transform: uppercase;
        font-weight: 300;
      }
      .event-start {
        text-align: right;
      }
      .event-end {
        text-align: left;
      }
      .separator {
        font-size: $font-size-base;
        font-weight: 600;
        line-height: 2;
        width: 2rem;
      }
    }
  }
  .bottom-content-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 3rem 0;
    .left-links {
      display: flex;
    }
    .field--name-field-add-to-calendar {
      a {
        display: flex;
        align-items: center;
        font-size: $font-size-sm;
        font-family: $font-poppins;
        color: $blue;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;
        text-decoration: none;
        background: none;
        box-shadow: none;
        border-radius: 0;
        .placeholder {
          font-style: normal;
        }
        &:after {
          content: '';
          background: url("../images/picto/ui/Calendar-add.svg") no-repeat center center;
          display: block;
          height: 24px;
          width: 24px;
          margin-left: 0.5rem;
          transform: scale(0.8);
        }
        &:hover {
          background: none;
          box-shadow: none;
          color: $blue;
          font-size: $font-size-sm;
          font-family: $font-poppins;
          font-weight: 600;
          text-transform: uppercase;
          padding: 0.5rem 1.5rem;
          border-radius: 0;
        }
      }
    }
  }
  .field--name-field-event-cta-download {
    display: flex;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgba($blue, 0.2);
    &:before {
      content: '';
      background: url("../images/picto/ui/download-blue.svg") no-repeat center center;
      display: block;
      height: 24px;
      width: 24px;
      margin-right: 0.5rem;
      transform: scale(0.8);
    }
    a {
      display: flex;
      align-items: center;
      color: $blue;
      font-size: $font-size-sm;
      font-family: $font-poppins;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .field--name-field-event-cta-external-link {
    display: flex;
    padding: 0.5rem 1.5rem;
    align-items: center;
    &:before {
      content: '';
      background: url("../images/picto/ui/external-link.svg") no-repeat center center;
      display: block;
      height: 24px;
      width: 24px;
      margin-right: 0.5rem;
      transform: scale(0.8);
    }
    a {
      display: flex;
      align-items: center;
      color: $blue;
      font-size: $font-size-sm;
      font-family: $font-poppins;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  // CONTENT MULTILIGNE
  .field--name-field-body,
  .field--name-field-event-content {
    .paragraph--type--video-embed {
      padding-left: 0;
      padding-right: 0;
      .field--name-field-title {
      }
      .field--name-field-video-embed-video {
        @include make-col(12);
        @include make-col-offset(0);
      }
    }
  }
}
.bottom-link {
  time {
    display: none;
  }
  &.detail-page {
    // HARD OVERRIDE STYLE CONTRIB FOR ADD TO CALENDAR
    .addtocalendar {
      width: 100%;
      text-align: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white!important;
        border: 1px solid rgba($blue, 0.3);
        padding: 0.5rem 2.5rem!important;
        border-radius: 0;
        color: $blue!important;
        text-transform: uppercase;
        font-family: $font-poppins!important;
        font-weight: 600;
        font-size: $font-size-xs!important;
        box-shadow: none!important;

        &:hover {
          background: none;
          box-shadow: none;
          text-transform: uppercase;
          font-family: $font-poppins;
          font-weight: 600;
          font-size: $font-size-xs;
          color: $blue;
          padding: 0.5rem 2.5rem;
        }
        .placeholder {
          font-style: normal;
        }
        &:before {
          content: '';
          background: url("../images/picto/ui/Calendar-add.svg") no-repeat center center;
          display: block;
          height: 34px;
          width: 34px;
          transform: translateY(0);
        }
      }
      .atcb-list {
        width: 100%;
        box-shadow: none;
        .atcb-item-link {
          padding: initial;
          color: initial;
          background: initial;
          box-shadow: none;
          border: none;
          &:hover {
            padding: initial;
            color: initial;
            background: initial;
            box-shadow: initial;
          }
        }
      }
    }
  }
}
