p {
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  line-height: 25px;
}
form.form {
  margin: 22px 22px 120px 22px;
  padding: 0;
  p.form-field:not(.pd-radio):not(.pd-checkbox) {
    margin: 0;
    padding: 0;
    background-color: #F2F3F3;
    box-shadow: inset 1px 2.5px 5px 0 rgba(0,0,0,0.1);
    border-top: 1px solid #777772;
    label.field-label {
      text-align: left;
      height: 20px;
      color: #004F9F;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 20px;
      margin-left: 10px;
    }
    input.text {
      appearance: none;
      box-shadow: none !important;
      border: none;
      width: calc(100% - 15px);
      height: 30px;
      background-color: transparent !important;
      color: #004F9F;
      font-family: Roboto;
      font-size: 16px;
      line-height: 25px;
      padding-left: 10px;
      &:focus {
        outline: none;
      }
    }

    &.filled {
      border-top-color:  #004F9F;
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, rgba(76,175,228,0.1) 0%, rgba(12,132,135,0) 100%);
      label.field-label {
        color: #777772;
      }
      input.text {
       // background-color: transparent !important;
        //background: none !important;
      }
    }
  }
  p.form-field.pd-radio {
    label.field-label {
      text-align: left;
      height: 20px;
      color: #004F9F;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 20px;
    }
    span.value {
      display: block;
      margin-left: 0;
      clear: both;
      span {
        display: inline-block;

        input {
          position: relative;
          top: -2px;
        }

        label.inline{
          color: #4A4A47;
          font-family: Roboto;
          font-size: 16px;
          margin-left: 9px;
        }
      }
    }
  }

  p.form-field.pd-select {
    position: relative;
    select {
      width: calc(100% - 15px);
      height: 30px;
      display: block;
      color: #004F9F;
      font-family: Roboto;
      font-size: 16px;
      line-height: 25px;
      max-width: 100%;
      box-sizing: border-box;
      margin: 0;
      border: none;
      box-shadow: none;
      appearance: none;
      background-image: none;
      background-color: transparent;
    }
    select::-ms-expand {
      display: none;
    }
    select:hover {
      border-color: #888;
    }
    select:focus {
      border: none;
      outline: none;
    }
    select option {
      font-weight:normal;
    }
    &:after {
      content: '';
      display: block;
      background-image: url('../images/picto/form/select.svg');
      height: 10px;
      width: 10px;
      position: absolute;
      right: 10px;
      bottom: 12px;
      background-position: bottom;
    }
  }
  p.form-field.pd-checkbox {
    display: flex;
    min-height: 60px;
    align-items: center;

    label.field-label {
      order: 2;
      color: #4A4A47;
      font-family: Roboto;
      font-size: 16px;
      line-height: 25px;
      width: auto;
      font-weight: normal;
      margin-left: 9px;
    }
    span.value {
      order: 1;
      margin-left: 0;
      width: auto;
    }
  }

  p.submit {
    padding: 0;
    display: flex;
    margin: 60px -30px 0 -30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    input {
      background-color: #0070C0;
      height: 60px;
      width: 100%;
      font-family: Poppins;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 20px;
      color: #fff;
      appearance: none;
      border: none;
    }
    &~ p {
      display: none;
    }
  }

  p.errors {
    background-color: #EE060B;
    color: #fff;
  }

  p.error {
    color: #EE060B;
    label.field-label {
      color: #EE060B !important;
    }
  }
  p.error.form-field:not(.pd-radio):not(.pd-checkbox) {
    border-bottom: 1px solid #EE060B;
  }
  p.error.no-label {
    margin-left: 0;
  }
}
