<div class="hero-block">
  {% set hero =  drupal_field('field_hero', 'node', '', 'hero') %}
  {% if hero | render | trim %}
    {{ hero }}
  {% else %}
    <h1 class="title-hero">
      {{ drupal_field('title', 'node') }}
    </h1>
  {% endif %}
</div>
