/* MIXINS */

@mixin block-title($with-line: false) {
  color: $blue;
  font-family: $font-roboto;
  font-size: 48px;
  font-weight: lighter;
  margin: 40px 0 20px;
  @if $with-line == true {
    &::after {}
  }
}

@mixin transition-socomec {
  transition: all 0.3s ease-out;
}

@mixin right-overflow-calc($width) {
  width: calc(((100vw - #{map-get($container-max-widths, $width)}) / 2 + #{map-get($container-max-widths, $width)}) - #{$grid-gutter-width}/2);
  margin-left: calc((100vw - ((100vw - #{map-get($container-max-widths, $width)}) / 2 + #{map-get($container-max-widths, $width)})) + #{$grid-gutter-width} / 2);
}

@mixin right-overflow() {
  @include media-breakpoint-up(lg) {
    @include right-overflow-calc(lg);
  }
  @include media-breakpoint-up(xl) {
    @include right-overflow-calc(xl);
  }
}

@mixin custom-breakpoint-down($widht) {
  @media screen and (max-width: $widht) {
    @content;
  }
}

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
    .btn-#{$color} a {
        @include button-variant($value, $value);
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} a {
        @include button-outline-variant($value);
    }
}


